body {
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  padding-top: 109px;
  padding-bottom: 64px;
  background-color: #f1f2f3;
  padding-bottom: calc(env(safe-area-inset-bottom) + 58px);
}

::-webkit-scrollbar {
  display: none;
}

.navbar {
  /* background-color: #fafafa; */
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.navbar-brand {
  font-family: museo, serif;
  padding-top: 0;
  padding-bottom: 0;
  display: inline-flex;
}

.navbar-text {
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-nav .nav-link {
  width: 40px;
  text-align: center;
}

.jumbotron {
  background: url(/_assets/img/OS5DEC0.jpg) center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 6rem;
  margin-top: -4rem;
}

.card-scrollable {
  flex-wrap: nowrap;
  overflow: hidden;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-scroll-snap-type: mandatory;
  scroll-snap-type: x mandatory;
  -webkit-scroll-snap-destination: 50% 50%;
  scroll-snap-destination: 50% 50%;
  /* margin-left: -24px; */
  /* margin-right: -24px; */
  /* padding-left: 24px; */
  /* padding-right: 24px; */
  /* width: 100vw; */
}

@media (min-width: 768px) {
  .scrollable {
    /* flex-wrap: wrap; */
  }
}

.card-scrollable .spacer {
  -webkit-scroll-snap-coordinate: 50% 50%;
  scroll-snap-coordinate: 50% 50%;
  scroll-snap-align: center;
  flex: 0 0;
  flex-basis: 11px;
}

.card-scrollable .card {
  -webkit-scroll-snap-coordinate: 50% 50%;
  scroll-snap-coordinate: 50% 50%;
  scroll-snap-align: center;
  margin-left: 4px;
  margin-right: 4px;
  flex: 0 0;
}

#style-1 .card {
  flex-basis: calc(320px - 30px);
}

#style-2 .card {
  flex-basis: calc(200px - 30px);
}

.card-scrollable .card:first-child {
  margin-left: 15px;
}

.card-scrollable .card:last-child {
  margin-right: 15px;
}

.card {
  border: 0;
  border-radius: 4px;
  font-size: 14px;
}

a.card {
  color: inherit;
  text-decoration: none;
}

.card-body {
  padding: 12px;
}

.card-title {
  font-weight: 500;
  margin-bottom: 0;
}

.card-details {
  font-size: 12px;
  color: #888888;
}

.card-details li span {
  color: #f5a623;
  font-size: 14px;
}

.card-old-price {
  font-size: 12px;
  color: #888888;
  text-decoration: line-through;
  margin-bottom: 0;
}

.card-new-price {
  font-weight: 500;
  margin-bottom: 0;
}

.card-availability {
  font-size: 12px;
  color: #24b985;
  margin-bottom: 0;
}

.card-img-overlay {
  padding: 0;
}

.card-bg-top {
  position: absolute;
  top: 0px;
  left: 0;
  height: 28%;
  width: 100%;
  padding: 8px 12px;
  background: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0.35),
    rgba(0, 0, 0, 0)
  );
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0));
}

.card-bg-bottom {
  position: absolute;
  bottom: 8px;
  left: 12px;
}

#style-2 .card-bg-bottom {
  width: 100%;
  padding: 8px 12px;
  background: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.35)
  );
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.35));
  bottom: 0;
  left: 0;
}

.footer {
  /* background-color: #ffffff; */
  background-color: hsla(0, 0%, 100%, 0.95);
  /* border-top: 1px solid #d9d9d9; */
  padding-bottom: env(safe-area-inset-bottom);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0.5rem 0 1rem rgba(0, 0, 0, 0.15) !important;
}

.footer .nav-pills .nav-link {
  border-radius: 0;
  color: #555555;
}

.footer .nav-link {
  font-size: 12px;
  line-height: 1;
  padding: 12px;
  padding-top: 8px;
}

.footer .nav-pills .nav-link.active {
  background-color: transparent;
  color: #007bff;
}

.footer .nav-text {
  display: block;
  font-size: 12px;
}

.footer .nav-icon {
  font-size: 18px;
  line-height: 24px;
  width: 24px;
  text-align: center;
}

.heading {
  padding-top: 40px;
  padding-bottom: 16px;
}

.heading-title {
  margin-bottom: 0;
}

/* 
.container {
  padding-left: 24px;
  padding-right: 24px;
}
 */

.list-unstyled li {
  padding-top: 4px;
  padding-bottom: 4px;
}

.card-img-wrapper {
  position: relative;
  color: white;
}

.nav-tabs-responsive {
  flex-flow: nowrap;
  overflow: hidden;
  overflow-x: auto;
}
.nav-tabs-responsive .nav-link {
  white-space: nowrap;
}

.card-responsive .card {
  display: flex;
  flex-direction: unset;
  align-items: flex-start;
}

.card-responsive .card-img {
  max-width: 128px;
}

@media (min-width: 576px) {
  .card-responsive .card-img {
    max-width: 100%;
  }
}
.card-responsive .card-body {
  flex: 1;
}

@media (min-width: 576px) {
  .card-responsive .card {
    display: inline-block;
  }
}

.card-title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  /* line-height: 16px; */
  /* max-height: 32px; */
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}

#detail-header {
  margin-top: -64px;
}
/* 
.header-overlay {
  transition: all 0.35s ease-in;
  background-color: transparent;
}

.header-overlay.active {
  background: rgba(255, 255, 255, 0.95);
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
} */

.form-icon {
  position: relative;
  width: 100%;
}

.form-icon .form-control {
  padding-left: 40px;
}

.form-control-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  line-height: 38px;
  text-align: center;
}

.filterbar {
  /* background-color: #f8f9fa; */
  padding: 0.5rem 1rem;
}

header {
  background-color: transparent;
}

header.active {
  background-color: #fafafa;
}

header .form-control {
  border: 0;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.btn-pills {
  border-radius: 9999px;
}

.list-group-item {
  background-color: transparent;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  padding: 0;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.list-group-item:first-child {
  border-top: 0;
}
